.table-container {
  max-height: 370px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 2px groove black;
  margin-top: 1px;
  border-radius: 2px;
  width:650px
}

.scrolling-table {
  max-width: 90%; /* Set the table width to fill its container */
  border-collapse: collapse; /* Collapse borders between cells */
  margin: 2px auto;
}

.scrolling-table td {
  text-align: center;
  border: 1px solid #ddd; /* Add borders to table cells */
  padding: 8px; /* Add padding to table cells */
}

.scrolling-table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd; /* Add borders to table cells */
  padding: 8px;
  text-align: center;
  /* Set background color for table headers */
}

tr:nth-child(even) {
  background-color: "light-gray";
}

.cat-title {
  margin: 1px auto;
}
