.footer {
    margin: 0px 4px;
    padding: 4px;
    background-color: lightgray;
    height: 50px;
    /* border: 2px solid black;
    border-radius: 1px; */
    /* width: 0px auto; */
    /* position:fixed; */
    width :98.5%;
    /* bottom: 0; */
  }
  .h6{
    text-align: center;
    color:  #333
    }
  